@font-face {
  font-family: "amatic_scregular";
  src: url("../fonts/fonts2/amaticsc-regular-webfont.woff2") format("woff2"),
    url("../fonts/fonts2/amaticsc-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaty-clr: rgb(89, 123, 150);
}

.container {
  display: flex;
  height: 100vh;
  gap: 10px;
  /* background-image: url(../photos/christopher-burns.jpg); */
  background-color: #fff;
}

.left {
  display: flex;
  flex: 3;
  flex-direction: column;
  /* border: dotted pink 7px; */
  background-image: url(../photos/christopher-burns.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  /* border: dotted rgb(220, 255, 192) 7px; */
  font-family: "amatic_scregular";
  gap: 70px;
}

.header h1 {
  display: flex;
  gap: 18px;

  align-items: center;
  font-size: 7rem;
  margin-left: 70px;
  margin-top: 220px;
  width: max-content;
  top: 18px;
  left: 10px;
}

.header img {
  /* float: left; */
  width: 4rem;
  height: 4rem;
}

.footer {
  font-size: 0.8rem;
  padding: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* border: dotted rgb(192, 205, 255) 7px; */
  color: aliceblue;
  margin-top: auto;
}

/* Finish LEFT DIV design */

.right {
  display: flex;
  flex-direction: column;
  flex: 7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: dotted pink 7px; */
  background-color: var(--primaty-clr);
  gap: 10px;
  padding: 50px;
}

.right-first {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: dotted black 7px; */
  font-size: 30px;
  /* padding: 50px; */
}

.right-second {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.text {
  font-size: 1.8rem;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: row;
  gap: 80px;
  /* ss */
  /* background-color: #fff; */
  /* padding: 20px; */
  border-radius: 15px;
  width: 100%;
}

form label {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  /* color: #555; */
  /* margin-bottom: 5px; */
  display: block;
  pointer-events: none;
  transition: all 0.3s ease;
}

form input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

.fields-first,
.fields-second {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: #dedede;
  font-size: 0.8rem;
  font-style: italic;
  opacity: 1;
}

input:hover {
  background-color: #276c6c;
  color: black;
  /* border: solid 10px bisque; */
}

button {
  margin-top: 10px;
  background-color: #dcddde;
  color: rgb(35, 34, 34);
  font-size: 16px;
  padding: 10px 20px;
  border: solid seashell;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* 爪转 */
}

button:hover {
  background-color: #dcddde; /* 爪注 专拽注  转专 */
  transform: translateY(-2px); /* 驻拽 专祝 */
}

/* 砖 爪注 专拽注 砖抓 注 驻转专 */
button:active {
  background-color: #003b63;
  color: #fff;
  transform: translateY(0); /*  转 驻拽 专祝 */
}

span {
  margin-bottom: 40px;
}

.right-third {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: dotted black 7px; */
  gap: 5px;
}
