@font-face {
  font-family: "amatic_scregular";
  src: url("../fonts/fonts2/amaticsc-regular-webfont.woff2") format("woff2"),
    url("../fonts/fonts2/amaticsc-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaty-clr: rgb(89, 123, 150);
}

* {
  padding: 0px;
}

.container {
  display: flex;
  height: 100vh;
  gap: 10px;
  /* background-image: url(../photos/christopher-burns.jpg); */
  background-color: #fff;
}

.left {
  display: flex;
  flex: 3;
  flex-direction: column;
  /* border: dotted pink 7px; */
  background-image: url(../photos/christopher-burns.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  /* border: dotted rgb(220, 255, 192) 7px; */
  font-family: "amatic_scregular";
  gap: 70px;
}

.header h1 {
  display: flex;
  gap: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  align-items: center;
  font-size: 7rem;
  /* margin-left: 70px; */
  margin-top: 220px;
  width: 100%;
}

.header img {
  width: 4rem;
  height: 4rem;
  margin-left: 45px;
}

.footer {
  font-size: 0.95rem;
  padding: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* border: dotted rgb(192, 205, 255) 7px; */
  color: aliceblue;
  margin-top: auto;
}

/* Finish LEFT DIV design */

.right {
  display: flex;
  flex-direction: column;
  flex: 7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: dotted pink 7px; */
  background-color: var(--primaty-clr);
  gap: 10px;
  padding: 50px;
}

.right-first {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: dotted black 7px; */
  font-size: 30px;
  /* padding: 50px; */
}

.right-second {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.text {
  font-size: 1.8rem;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: row;
  gap: 80px;
  /* ss */
  /* background-color: #fff; */
  /* padding: 20px; */
  border-radius: 15px;
  width: 100%;
}

form label {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  /* color: #555; */
  /* margin-bottom: 5px; */
  display: block;
  pointer-events: none;
  transition: all 0.3s ease;
}

form input {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #dcdedf;
  color: #2a2a2a;
  border: solid 1.5px ghostwhite;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: snow;
  border: solid saddlebrown;
}

/* 砖 爪注 专拽注 砖抓 注 驻转专 */
button:active {
  background-color: #003b63;
  color: #070707;
  transform: translateY(0);
  font-weight: 300;
}

.fields-first,
.fields-second {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  color: #dedede;
  font-size: 0.8rem;
  font-style: italic;
  opacity: 1;
}

input:hover:placeholder-shown {
  background-color: saddlebrown;
  color: black;
  border: solid 2px bisque;
  font-weight: 600;
}

input:invalid {
  border: 0.5px dashed red;
}

input:valid {
  border: 0.8px dashed rgb(0, 255, 30);
}

button {
  margin-top: 10px;
  background-color: #dcddde;
  color: rgb(35, 34, 34);
  font-size: 16px;
  padding: 10px 20px;
  border: solid seashell;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* 爪转 */
}

span {
  margin-bottom: 40px;
}

.sign-in-link {
  text-decoration: none;
  color: #161616;
  text-decoration: none;
  font-weight: 900;
  transition: color 0.3s, text-decoration 0.3s;
}

.sign-in-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.sign-in-link:focus-visible {
  outline: 2px dashed #007bff;
  outline-offset: 3px;
}

.right-third {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* border: dotted black 7px; */
  gap: 5px;
}
